footer {
  width: 100%;
  float: left;
  background: $black;
  color: $white;
  padding: 20px 0;
  font: normal normal normal 16px/1.1 'Roboto', sans-serif;
  margin-top: 15px; 
  
  p {
    color: $white;
  }
}
