.menu .menu-item .item-content,
.menu .menu-item .menu-opener {
  height: $menu-height;
}

.menu .menu-item .menu-opener {
  width: $menu-height;
}

.menu .menu-item {
  transition: 0.3s;
  font: normal normal normal 22px/1.2 'Open Sans', sans-serif;
}

.menu > .menu-item {
  background: $blue-dark;
  color: $white;
  
  &:hover,
  &.current_page_item {
    background: $blue-base;
  }
}

.menu .sub-menu .menu-item {
  background: $blue-base;
  color: $white;
  font-size: 18px;
  
  &:hover,
  &.current_page_item {
    background: $blue-light;
    color: $black;
  }
}

.menu .sub-menu .sub-menu .menu-item {
  background: $blue-light;
  color: $black;
  
  &:hover,
  &.current_page_item {
    background: $white;
  }
}

.menu .menu-item .menu-opener::before {
  font-family: 'FontAwesome';
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  opacity: 1;
}
.menu > .menu-item > .menu-opener::after {
  content: '\f068';
  font-family: 'FontAwesome';
  width: 100%;
  text-align: center;
  display: none;
  margin-top: -50%;
  opacity: 0;
}
.menu > .menu-item > .menu-opener::before {
  content: '\f0c9';
}
@media all and (min-width: 559px) {
  .menu .menu-item:hover > .menu-opener::before {
    transform: rotate(-90deg);
    transition: 0.3s;
  }
  
  .menu > .menu-item:last-child .menu-item:hover > .menu-opener::before {
    transform: rotate(90deg);
  } 
  
  .menu {
    > .menu-item:hover,
    > .menu-item.current_page_item {
      > .menu-opener::before {
        transform: none;
        opacity: 0;
      }
    }  
  }
  .menu .menu-item-has-children {
    height: $menu-height;
  }
}

#mobile-menu-toggle {
  display: none;
  height: 100%;
  width: 60px;
  font-size: 45px;
  color: $white;
  float: right;
  line-height: $header-height;
}

@media all and (max-width: 940px) {
  header {
    .menu-wrapper {
      display: none;
      padding-left: 0;
      float: left;
      height: auto;
    }
  }
  
  #mobile-menu-toggle {
    display: block;
  }
}
