// Colors
$blue-dark: #0a6675;
$blue-base: #1b9fb3;
$blue-light: #41ebe9;
$white: #fcfcfc;
$black: #232323;

// Settings
$header-height: 60px;
$menu-height: $header-height;

// Breakpoints
$bp-xs: 480px;
